label.error{
	width: 100px;
	font-weight: bold;
	color: red;
}

label{
	width: 100px;
	font-weight: bold;
}

span.error_sql_query{
	font-size: 8px;
	color: red;
}

span.general{
	font-size: 8px;
	color: black;
}

span.info{
	font-size: 8px;
	color: blue;
}

span.error{
	font-size: 8px;
	color: red;
}

span.debug{
	font-size: 8px;
	color: black;
	font-weight: bold;
}

span.warning{
	font-size: 8px;
	color: orange;
}

span.message_text{
	font-size: 8px;
	color: black;
}

span.black{
	display: inline-block;
	width: 4px; 
	height: 5px; 
	background: #000;
}

span.gray{
	display: inline-block;
	width: 4px; 
	height: 5px; 
	background: #CCC;
}

div.flash_info{
	color: blue;
}

div.flash_error{
	color: red;
}

.field_error{
	border-color: red;
}