	<form method="post" name="form" enctype="multipart/form-data">
		<input type="hidden" name="type" value="tos">
		<input type="hidden" name="action" value="search">
		<input type="hidden" name="page" value="0">
		<label><?= $config['RU']['SEARCH']['LABEL'] ?></label><input type="text" name="search" value="%%search%%" />
		<button type="submit"><?= $config['RU']['SEARCH']['BUTTON']?></button>
		<button type="reset" id="reset"><?= $config['RU']['RESET']['BUTTON']?></button></br></br>
		<input type="hidden" name="id_tsp" value="%%id_tsp%%" />
		<script>
			$("#reset").click(function(){
					$("[name=search]").val("");
					$("[name=id_tsp]").val("");
					$("[name=form]").submit();
					return false;
				}
			);
		</script>
	</form>
	<table width="80%" border="1px solid #CEE" cellspacing="0" cellpadding="0">
		<tbody>
		%%header%%
		</tbody>