		</table>

		<script type="text/javascript">
		        $(document).ready(function () {
					$("#paginator").smartpaginator({ 
						totalrecords: %%pages%%,
						recordsperpage: %%items_per_page%%,
						initval: %%page%%,
						length: 10,
						next: '<?=$config['RU']['PAGINATOR']['NEXT']?>', 
						prev: '<?=$config['RU']['PAGINATOR']['PREV']?>', 
						first: '<?=$config['RU']['PAGINATOR']['FIRST']?>', 
						last: '<?=$config['RU']['PAGINATOR']['LAST']?>', 
						go: '<?=$config['RU']['PAGINATOR']['GO']?>',
						controlsalways: true, 
						onchange: function(page){
							// $("#r").html("Page #"  + page);
							// alert(page);
							var id_tsp = "%%id_tsp%%";
							var id_tsp_query = "";
							if (id_tsp) {
								id_tsp_query = "&id_tsp="+id_tsp;
							}
							var search = "%%search%%";
							var search_query = "";
							if (search) {
								search_query = "&id_tsp="+id_tsp;
							}
							window.location = "/mp-spasibo/tos/?page="+page+id_tsp_query+search_query;
						},
						// theme: "red" 
					});
		        });
		</script>
		<div id="paginator" style="margin: auto;">
		%%footer%%