	<ul>
		<li><a href="/mp-spasibo/mp/">Обработка файла для МП</a> | <a href="/mp-spasibo/mp/files/">Обработанные файлы</a></li>
		<li><a href="/mp-spasibo/terminals/">Обработка файла по терминалам</a> | <a href="/mp-spasibo/terminals/files/">Обработанные файлы</a></li>
		<li><a href="/mp-spasibo/partners/">Информация о партнёрах</a> | <a href="/mp-spasibo/partner/add/">Добавить нового</a></li>
		<li><a href="/mp-spasibo/tos/">Информация о точках</a> | <a href="/mp-spasibo/to/add/">Добавить новую</a></li>
	</ul>

	<div class="flash_info"><?= $flash['info'] ?></div>
	<div class="flash_error"><?= $flash['error'] ?></div>
	%%body%%