		</table>

		<script type="text/javascript">
		        $(document).ready(function () {
					$("#paginator").smartpaginator({ 
						totalrecords: %%pages%%,
						recordsperpage: %%items_per_page%%,
						initval: %%page%%,
						length: 10,
						next: '<?=$config['RU']['PAGINATOR']['NEXT']?>', 
						prev: '<?=$config['RU']['PAGINATOR']['PREV']?>', 
						first: '<?=$config['RU']['PAGINATOR']['FIRST']?>', 
						last: '<?=$config['RU']['PAGINATOR']['LAST']?>', 
						go: '<?=$config['RU']['PAGINATOR']['GO']?>',
						controlsalways: true, 
						onchange: function(page){
							// $("#r").html("Page #"  + page);
							// alert(page);
							window.location = "/mp-spasibo/partners/?page="+page;
						},
						// theme: "red" 
					});
		        });
		</script>
		<div id="paginator" style="margin: auto;">
		%%footer%%