	<form method="post" action="/mp-spasibo/partners/" name="form" enctype="multipart/form-data">
		<input type="hidden" name="type" value="partners">
		<input type="hidden" name="action" value="search">
		<input type="hidden" name="page" value="0">
		<label><?=$config['RU']['SEARCH']['LABEL'] ?></label><input type="text" name="search" value="%%search%%" /><button type="submit"><?= $config['RU']['SEARCH']['BUTTON'] ?></button><button type="reset" id="reset"><?= $config['RU']['RESET']['BUTTON'] ?></button></br></br>
		<script>
			$("#reset").click(function(){
					$("[name=search]").val("");
					$("[name=form]").submit();
					return false;
				}
			);
		</script>
	</form>
	<table width="80%" border="1px solid #CEE" cellspacing="0" cellpadding="0">
		<tbody>
		%%header%%
		</tbody>